.imgProduct{
    width: 90%;
    height: 450px;
    // background-color: #fff;
    margin: 10px 0;
}
.slider-detail{
    .swiper-button-next, .swiper-button-prev {
        background-color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
        //  opacity: 1;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 10px;
        color: rgb(0, 0, 0); /* màu mũi tên */
    }
}
