// FilterCategory.jsx

.container-filter{
    width: 100%;
    max-height: 40px;
    border-top: 1px solid #ede8e8;
    border-bottom: 1px solid #f5f1f1;
    transition: all 0.7s ease;
    overflow: hidden;
    padding-bottom: 20px;
}
.show{
    max-height: 500px;
}
.arrowFilter{
    transform: rotate(0);
    transition: transform 0.5s ease;
}
.arrowRote{
    transform: rotate(90deg);
}


// PriceRange.jsx